<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>最新消息 - 管理介面</title>
	{% load static %}
	<link href="{% static "css/style2.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="warp">
		<div id="header">
			<div class="toplogin">
				{% block append %}{% endblock %}
				<a href="/logout/">
				<img src="{% static "images/Lockoff.png" %}" alt="登出管理介面" width="32" height="32" /></a>
			</div>
			<div class="logo">
				<img src="{% static "images/DWonline.png" %}" width="180" height="40" alt="news" />
			</div>
		</div>
		<div class="headings">
		  <h2>最新消息 - 管理介面</h2>
		</div>  
		{% block content %}{% endblock %}
		<div id="footer">&copy; Copyright 2017 eHappy Studio 新聞系統</div>
	</div>
</body>
</html>
