{% extends "news/baseadmin.html" %}
{% load static %} 

{% block content %}
	<div class="contentbox">
		<form action="." id="form1" name="form1" method="POST">
		  {% csrf_token %}
		  <table width="90%" align="center">
			<tr>
			  <th colspan="2" align="left"> 新增新聞</th>
			</tr>
			<tr>
			  <td width="20%" valign="baseline"><strong>分類</strong></td>
			  <td valign="baseline">
				  <select name="news_type" id="news_type">
					  <option value="公告" selected="selected">公告</option>
					  <option value="更新">更新</option>
					  <option value="活動">活動</option>
					  <option value="其他">其他</option>
				  </select>
			  </td>
			</tr>
			<tr>
			  <td valign="baseline"><strong>標題</strong></td>
			  <td valign="baseline"><input name="news_subject" type="text" id="news_subject" size="45" required /></td>
			</tr>
			<tr>
			  <td valign="baseline"><strong>編輯者</strong></td>
			  <td valign="baseline"><input type="text" name="news_editor" id="news_editor" required /></td>
			</tr>
			<tr>
			  <td valign="baseline"><strong>內容</strong></td>
			  <td valign="baseline"><textarea name="news_content" id="news_content" cols="60" rows="15" required></textarea></td>
			</tr>
			<tr>
			  <td valign="baseline"><strong>審核</strong></td>
			  <td valign="baseline">
				<input type="radio" name="news_ok" id="news_ok2" value="yes" checked="checked" />已通過
				<input name="news_ok" type="radio" id="news_ok" value="no" />審核中
			  </td>
		  </tr>
			<tr>
			  <td>&nbsp;</td>
			  <td><input type="submit" name="button" id="button" value="送出" />
			  <input type="reset" name="button2" id="button2" value="重設" />
			  <input type="button" name="button3" id="button3" value="回主頁面" onclick="window.location='/adminmain/'" /></td>
			</tr>
		  </table>
		  <span style="color:red">{{message}}</span>
		</form>
	</div>
{% endblock %}