{% extends "base.html" %}
{% block title %}人格類型｜創造者{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<style>
	.text {
	  text-align: center;
	  font-size: 24px;
	}
  img {
    max-width: 100%;
    max-height: 100%;
  }
</style>
<div class="text"><h1>人格類型｜創造者</h1></div>

<br>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/A1.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">藝術總監</h5>
				<p class="card-text">
					．安排工作和活動時程
					<br>
					．創新設計
					<br>
					．組織內部溝通
				</p>
				<a href="https://careermaster.1111.com.tw/detail/220303" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/A2.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">演員</h5>
				<p class="card-text">
					．創新設計
					<br>
					．服務與應對人群
					<br>
					．建立夥伴關係
				</p>
				<a href="https://careermaster.1111.com.tw/detail/220204" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/A3.jpeg" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">音樂家</h5>
				<p class="card-text">
					．創新設計
					<br>
					．服務與應對人群
					<br>
					．建立夥伴關係
				</p>
				<a href="#" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/A4.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">建築師</h5>
				<p class="card-text">
					．創新設計
					<br>
					．安排工作和活動時程
					<br>
					．製作圖稿與規格書並解說
				</p>
				<a href="https://careermaster.1111.com.tw/detail/190101" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/A5.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">廣播主播/主持人</h5>
				<p class="card-text">
					．服務與應對人群
					<br>
					．代表組織與對外溝通
					<br>
					．創新設計
				</p>
				<a href="#" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/A6.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">編輯</h5>
				<p class="card-text">
					．建立夥伴關係
					<br>
					．持續進修專業知識
					<br>
					．安排工作和活動時程
				</p>
				<a href="https://careermaster.1111.com.tw/detail/220404" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
