{% extends "base.html" %}
{% block title %}人格類型｜組織者{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<style>
	.text {
	  text-align: center;
	  font-size: 24px;
	}
  img {
    max-width: 100%;
    max-height: 100%;
  }
</style>
<div class="text"><h1>人格類型｜組織者</h1></div>

<br>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/C1.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">公務員</h5>
				<p class="card-text">
					．安排工作和活動時程
					<br>
					．組織內部溝通
					<br>
					．服務與應對人群
				</p>
				<a href="https://careermaster.1111.com.tw/detail/290102" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/C2.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">資訊安全人員</h5>
				<p class="card-text">
					．持續進修專業知識
					<br>
					．運用電腦工作
					<br>
					．找出關鍵資訊和線索
				</p>
				<a href="https://careermaster.1111.com.tw/detail/140703" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/C3.webp" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">金融投資分析師</h5>
				<p class="card-text">
					．處理資料
					<br>
					．組織內部溝通
					<br>
					．組織內部溝通
				</p>
				<a href="#" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/C4.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">精算師</h5>
				<p class="card-text">
					．分析資料
					<br>
					．處理資料
					<br>
					．提出解決問題的方案
				</p>
				<a href="#" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/C5.jfif" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">行政人員</h5>
				<p class="card-text">
					．建立夥伴關係
					<br>
					．安排工作和活動時程
					<br>
					．組織內部溝通
				</p>
				<a href="https://careermaster.1111.com.tw/detail/110112" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/C6.jfif" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">會計師</h5>
				<p class="card-text">
					．安排工作和活動時程
					<br>
					．處理資料
					<br>
					．檢查是否符合規範
				</p>
				<a href="https://careermaster.1111.com.tw/detail/110301" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
