{% extends "base.html" %}
{% block title %}人格類型｜影響者{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<style>
	.text {
	  text-align: center;
	  font-size: 24px;
	}
  img {
    max-width: 100%;
    max-height: 100%;
  }
</style>
<div class="text"><h1>人格類型｜影響者</h1></div>

<br>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/E1.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">空服員</h5>
				<p class="card-text">
					．安排工作和活動時程
					<br>
					．組織內部溝通
					<br>
					．建立夥伴關係
				</p>
				<a href="https://careermaster.1111.com.tw/detail/180209" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/E2.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">導演</h5>
				<p class="card-text">
					．組織內部溝通
					<br>
					．安排工作和活動時程
					<br>
					．服務與應對人群
				</p>
				<a href="https://careermaster.1111.com.tw/detail/220301" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/E3.jpeg" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">客服人員</h5>
				<p class="card-text">
					．建立夥伴關係
					<br>
					．安排工作和活動時程
					<br>
					．提出解決問題的方案
				</p>
				<a href="https://careermaster.1111.com.tw/detail/120303" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/S4.webp" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">議員/立法委員</h5>
				<p class="card-text">
					．調解衝突
					<br>
					．檢查是否符合規範
					<br>
					．提出解決問題的方案
				</p>
				<a href="#" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/E5.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">律師</h5>
				<p class="card-text">
					．調解衝突
					<br>
					．搜尋資訊
					<br>
					．提出解決問題的方案
				</p>
				<a href="https://careermaster.1111.com.tw/detail/240101" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/E6.jpeg" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">專案管理員</h5>
				<p class="card-text">
					．安排工作和活動時程
					<br>
					．組織內部溝通
					<br>
					．調解衝突
				</p>
				<a href="https://careermaster.1111.com.tw/detail/130305" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
