{% extends "base.html" %}
{% block title %}人格類型｜思考者{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<style>
	.text {
	  text-align: center;
	  font-size: 24px;
	}
  img {
    max-width: 100%;
    max-height: 100%;
  }
</style>
<div class="text"><h1>人格類型｜思考者</h1></div>

<br>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/I1.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">醫師</h5>
				<p class="card-text">
					．協助和照顧他人
					<br>
					．提出解決辦法
					<br>
					．持續進修專業知識
				</p>
				<a href="https://careermaster.1111.com.tw/detail/200101" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/I2.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">機電工程師</h5>
				<p class="card-text">
					．製作圖稿與規格書並解說
					<br>
					．持續進修專業知識
					<br>
					．創新設計
				</p>
				<a href="https://careermaster.1111.com.tw/detail/160108" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/I3.jpg" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">管網人員</h5>
				<p class="card-text">
					．運用電腦工作
					<br>
					．找出關鍵資訊和線索
					<br>
					．持續進修專業知識
				</p>
				<a href="#" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/I4.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">人類學家</h5>
				<p class="card-text">
					．搜尋資訊
					<br>
					．處理資料
					<br>
					．分析資訊
				</p>
				<a href="https://careermaster.1111.com.tw/detail/250301" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/I5.webp" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">大氣科學家</h5>
				<p class="card-text">
					．持續進修專業知識
					<br>
					．處理資料
					<br>
					．分析資料
				</p>
				<a href="https://careermaster.1111.com.tw/detail/250101" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/I6.jpeg" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">數據分析師</h5>
				<p class="card-text">
					．分析資料
					<br>
					．創新設計
					<br>
					．提供諮詢
				</p>
				<a href="https://careermaster.1111.com.tw/detail/140503" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
