{% extends "base.html" %}
{% block title %} 職業最新消息排排站 {% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<style>
	.text {
	  text-align: center;
	  font-size: 24px;
	}
  img {
    max-width: 100%;
    max-height: 100%;
  }
</style>
<div class="text"><h1>＼＊職業最新消息排排站＊／</h1></div>
<br>
<br>
<br>
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
      
            <img src="/static/images/n1.jpg" alt="Card image cap">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" >
              <a href="https://tw.news.yahoo.com/%E6%A1%83%E7%AB%B9%E8%8B%97%E5%88%86%E7%BD%B2%E6%94%9C%E6%89%8B%E5%B7%A5%E6%9C%83-%E6%8E%A8%E5%8B%95%E5%8B%9E%E5%B7%A5%E8%87%AA%E4%B8%BB%E5%AD%B8%E7%BF%92%E8%A8%88%E7%95%AB-052300603.html">桃竹苗分署攜手工會 推動勞工自主學習計畫</a>
              </h5>
              <p class="card-text">....，勞動部勞動力發展署桃竹苗分署14日邀集桃竹苗轄區各工會團體在新竹縣北埔鄉舉行「勞工團體交流座談會」，座談會中除了解各工會辦理「產業人才投資方案-提升勞工自主學習計畫」....</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/images/n2.jpg" alt="Card image cap">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="https://tw.news.yahoo.com/%E7%B7%AF%E5%89%B5%E6%94%9C%E9%99%BD%E6%98%8E%E4%BA%A4%E5%A4%A7%E6%88%90%E7%AB%8B%E6%99%BA%E6%85%A7%E8%88%87%E7%B6%A0%E8%83%BD%E7%94%A2%E6%A5%AD%E8%81%AF%E5%90%88%E7%A0%94%E7%99%BC%E4%B8%AD%E5%BF%83-064011891.html">緯創攜陽明交大成立智慧與綠能產業聯合研發中心 深化人才培育</a></h5>
              <p class="card-text">緯創（3231）今（14）日宣布，與國立陽明交通大學合作，在陽明交大台南歸仁校區成立「緯創資通-陽明交大智慧與綠能產業創新聯合研發中心」，簡稱「智慧與綠能中心（JCAG）」。預計113學年第一學期設立...</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/images/n3.png" alt="Card image cap">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> <a href="https://tw.news.yahoo.com/appier%E6%97%A5%E6%9C%AC%E4%B8%8A%E5%B8%82%E5%BE%8C-%E5%86%8D%E6%8B%89%E5%8F%B0%E7%81%A3ai%E4%BA%BA%E6%89%8D-%E6%8A%8A-%E5%A6%82%E4%BD%95%E5%BE%9E%E6%A0%A1%E5%9C%92%E5%9F%B9%E9%A4%8A%E4%B8%8B%E5%80%8B%E7%8D%A8%E8%A7%92%E7%8D%B8-063218573.html">Appier日本上市後，再拉台灣AI人才一把！如何從校園培養下個獨角獸？</a></h5>
              <p class="card-text"> 全球掀起AI浪潮，在這波浪潮下，有許多台灣企業長期在專注AI領域開發，並有了令人振奮的成果，為此，《數位時代》與數位發展部合作...</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/images/n4.png" alt="Card image cap">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="https://tw.news.yahoo.com/%E5%9F%BA%E6%9C%AC%E5%B7%A5%E8%B3%87%E9%80%A38%E6%BC%B2%EF%BC%9F%E7%B4%849%E6%88%90%E5%8B%9E%E5%B7%A5%E6%94%AF%E6%8C%81%E3%80%8C%E6%9C%88%E8%96%AA%E3%80%81%E6%99%82%E8%96%AA%E3%80%8D%E9%9B%99%E6%BC%B2-011254271.html">基本工資連8漲？約9成勞工支持「月薪、時薪」雙漲</a>
              </h5>
              <p class="card-text">明年基本工資是否會連續8年調漲，為下半年勞資雙方最關注的話題之一。根據yes123求職網調查顯示，若同時考量「物價與收入」，有高達九成四(94.2%)的勞工表示，支持明年基本工資的「月薪」再調漲；</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/images/n5.png" alt="Card image cap">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="https://ec.ltn.com.tw/article/breakingnews/4185039">「台南呷頭路」新春徵才 28家廠商釋出1457個工作機會
              </a></h5>
              <p class="card-text">「台南呷頭路」新春就業徵才活動」，今（14）日在南門勞工育樂中心盛大登場，現場擺攤企業廠家提供上千個工作機會，台南市長黃偉哲到場感謝各家廠商的共襄盛舉，並鼓勵有意尋職的民眾把握機會，找到心目中的理想工作....</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/images/n6.png" alt="Card image cap">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="https://news.ltn.com.tw/news/life/breakingnews/4268295">從製作唱片到釀造醬油 職人工作開放體驗囉！</a>
              </h5>
              <p class="card-text">所有15歲到29歲之間，不管是否是新竹縣民，即便只是就學、就業在新竹縣的青年們注意了，縣府為了幫助青年人探索未來可能發展的職業，增加對各類職場實務的認識和了解，將以「全能職事所」為主題，以「課堂沒教的事」和「職場未來事」...</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/static/images/n8.png" alt="Card image cap">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="https://ec.ltn.com.tw/article/paper/1527685">〈財經週報-畢業季就業〉協助年輕人就業 勞動部再推4大計畫</a></h5>
            <p class="card-text">畢業生求職旺季來臨，今年踏出校門的新鮮人，卻面臨疫情衝擊就業市場。為此，勞動部今年仍提供「青年就業獎勵」、「青年尋職津貼」、「產業新尖兵」及「青年就業旗艦」4大計畫，持續給予社會新鮮人求職協助；另有「投資青...</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/static/images/n7.png" alt="Card image cap">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="https://news.ltn.com.tw/news/life/breakingnews/4067692">少子化讓工作職缺比人多 前Google台灣董事總經理：空前好機會</a></h5>
            <p class="card-text">前Google台灣董事總經理簡立峰今日表示，他的職業生涯曾面試超過5000人，每次約花45分鐘到1小時，發掘每個面試者不同的特質，少子化下人人都是寶，一個都不能少，也因為少子化會讓工作職缺比人多，這對孩子們來說....</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
