{% extends "base.html" %}
{% block title %}人格類型｜實踐者{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<style>
	.text {
	  text-align: center;
	  font-size: 24px;
	}
  img {
    max-width: 100%;
    max-height: 100%;
  }
</style>
<div class="text"><h1>人格類型｜實踐者</h1></div>

<br>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/R1.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">警察</h5>
				<p class="card-text">
					．找出關鍵資訊和線索
					<br>
					．調解衝突
					<br>
					．服務與應對人群
				</p>
				<a href="https://careermaster.1111.com.tw/detail/290102" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/R2.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">機長</h5>
				<p class="card-text">
					．控制機器與程序
					<br>
					．操作運載工具、儀器或設備
					<br>
					．找出關鍵資訊和線索
				</p>
				<a href="#" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/R3.jpeg" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">保全</h5>
				<p class="card-text">
					．提出解決問題的方案
					<br>
					．檢查是否符合規範
					<br>
					．協助和照顧他人
				</p>
				<a href="https://careermaster.1111.com.tw/detail/290204" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/R4.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">運動員</h5>
				<p class="card-text">
					．體能活動
					<br>
					．建立夥伴關係
					<br>
					．教導與協助個人發展
				</p>
				<a href="#" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/R5.jpeg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">廚師</h5>
				<p class="card-text">
					．搬運與動作操作
					<br>
					．檢查是否符合規範
					<br>
					．體能活動
				</p>
				<a href="https://careermaster.1111.com.tw/detail/270208" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/R6.jpeg" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">動物飼養員</h5>
				<p class="card-text">
					．搬運與動作操作
					<br>
					．找出關鍵資訊和線索
					<br>
					．監控過程、物件或環境
				</p>
				<a href="https://careermaster.1111.com.tw/detail/280205" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
