{% extends "base.html" %}
{% block title %}人格類型｜助人者{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<style>
	.text {
	  text-align: center;
	  font-size: 24px;
	}
  img {
    max-width: 100%;
    max-height: 100%;
  }
</style>
<div class="text"><h1>人格類型｜助人者</h1></div>

<br>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/S1.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">護理師</h5>
				<p class="card-text">
					．找出關鍵資訊和線索
					<br>
					．協助和照顧他人
					<br>
					．監控過程、物件或環境
				</p>
				<a href="https://careermaster.1111.com.tw/detail/200302" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/S2.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">教授</h5>
				<p class="card-text">
					．持續進修專業知識
					<br>
					．教導與協助個人發展
					<br>
					．創新設計
				</p>
				<a href="https://careermaster.1111.com.tw/detail/250501" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/S3.jpg" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">國小老師</h5>
				<p class="card-text">
					．安排工作和活動時程
					<br>
					．組織內部溝通
					<br>
					．教導與協助個人發展
				</p>
				<a href="https://careermaster.1111.com.tw/detail/250504" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/S4.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">社工師</h5>
				<p class="card-text">
					．建立夥伴關係
					<br>
					．協助和照顧他人
					<br>
					．協調衝突
				</p>
				<a href="https://careermaster.1111.com.tw/detail/280114" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
  
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/S5.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">物理與職能治療師</h5>
				<p class="card-text">
					．協助和照顧他人
					<br>
					．持續進修專業知識
					<br>
					．搬運和動手操作
				</p>
				<a href="#" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="/static/images/S6.jpg" alt="Card image cap">
			<div class="card-body">
					<h5 class="card-title">餐飲服務人員</h5>
				<p class="card-text">
					．服務與應對人群
					<br>
					．搬運和動手操作
					<br>
					．體能活動
				</p>
				<a href="https://careermaster.1111.com.tw/detail/270213" class="btn btn-secondary btn-lg btn-block">查看更多</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
