{% extends "base.html" %}
{% block title %} 職業影片排排站 {% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style>
	.text {
	  text-align: center;
	  font-size: 24px;
	}
</style>

<div class="text"><h1>＼＊職業影片排排站＊／</h1></div>
<br>
<br>
<br>
<table>
  <tr>
    <td>
      <div class="text">
        職業名稱：社工人員【台積電慈善基金會 x 104 BeAGiver 工作世界-職業引路】
      </div>
    </td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    <td>
      <div class="text">
        職業名稱：輪機長【台積電慈善基金會 x 104 BeAGiver 工作世界-職業引路】
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="video-container">
        <div class="video1">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Y7ciFTIJocg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
    <td>
      <div class="video-container">
        <div class="video1">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/vI0vbhgmZZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="text">
        職業名稱：生命禮儀師【台積電慈善基金會 x 104 BeAGiver 工作世界-職業引路】
      </div>
    </td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    <td>
      <div class="text">
        職業名稱：紋繡師【台積電慈善基金會 x 104 BeAGiver 工作世界-職業引路】
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="video-container">
        <div class="video1">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/y3HTS5YJ9Tg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
    <td>
      <div class="video-container">
        <div class="video1">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/hqu7OlMS-5s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="text">
        職業名稱：金融理財專員【台積電慈善基金會 x 104 BeAGiver 工作世界-職業引路】
      </div>
    </td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
    <td>
      <div class="text">
        職業名稱：品管/檢驗人員【台積電慈善基金會 x 104 BeAGiver 工作世界-職業引路】
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="video-container">
        <div class="video1">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/avrGFXdDxxk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </td>
    <td></td>
	<td></td>
	<td></td>
	<td></td>
    <td>
      <div class="video-container">
        <div class="video1">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Y8KF4HTM8AU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>
      </div>
    </td>
  </tr>
</table>

{% endblock %}
