{% extends "base.html" %}
{% block title %}登入頁面{% endblock %}
{% block content %}
<br>
<br>
<br>
	<form action="/login/" method="POST" name="form1">
		{% csrf_token %}
		{% if status == "login" %}
			<div><a href="/logout/">登出系統</a></div>
		{% else %}
			<div>帳號：<input type="text" name="username" id="username"/></div>
			<div>密碼：<input type="password" name="password" id="password"/></div> 
			<div><input type="submit" name="button" id="button" value="登入" /></div>	
		{% endif %}   
		<span style="color:red">{{mess}}</span>
	</form>
{% endblock %}