<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>
    <!-- 新增導覽列-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">
      <img src = "/static/images/Q_new.webp" width="30" height="30" class="d-inline-block align-top" alt="">  
      Sunnysite
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" href="/post/">Resquest</a>
          </li>
       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              HELLO
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/hello1/SUNNY">hello1</a>
              <a class="dropdown-item" href="/hello2/SUNNY">hello2</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              LIST
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/listone/">list1</a>
              <a class="dropdown-item" href="/listall/">list2</a>
            </div>  
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              POST
            </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/post/">post</a>
            <a class="dropdown-item" href="/post1/">post1</a>
            <a class="dropdown-item" href="/postform/">postform</a>

          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              DELETE and EDIT
            </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/delete/11111/">delete</a>
            <a class="dropdown-item" href="/edit/11111">edit</a>
          </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" ariaexpanded="false">
            Flowers
            </a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="/flower/create/">Create Flower</a>
            </div>
          </li>
            
          <form action="/flower/" method="get" class="form-inline mt-2 mt-md-0">
            <input id="q" name="q" value="{{ request.GET.q }}" class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
    </nav>

    <main role="main" class="container">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    </main><!-- /.container -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper)直接css套用已開程式 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>